iframe {
     width: 100%;
     min-height: 700px;
}

.sub-head {
     text-align: center;
     font-weight: 600;
     color: rgb(116, 116, 116);
     i {
          display: block;
          margin: 5px 0px 30px;
     }
}

.select {
     background: #010a28;
     padding: 15px;
     border: none;
     display: inline-block;
     text-decoration: none;
     max-width: 300px;
     height: 50px;
     text-align: left;
     cursor: pointer;
     vertical-align: top;
     margin: 4px;
     color: white;
     border-radius: 8px;
     transition: background ease-out 300ms;
     font-size: 16px;
     &:hover {
          background: #838383;
     }
}

.image {
     &.sponsors {
          width: 100%;
          border-radius: 8px;
     }
}