$theme-color:rgb(71, 163, 218);
body {
     font-family: Open Sans;
     margin: 0;
     background: rgb(242, 242, 242);
}

p.title {
     color: #000d39;
     font-size: 16px;
     font-weight: 600;
     padding: 2% 100px;
     background: rgb(251, 251, 251);
     border-bottom: 1px solid rgb(225, 225, 225);
     margin: 0 0 20px 0;
     a {
          text-decoration: none;
          color: inherit;
     }
}

header {
     &:first-of-type {
          padding: 17px;
          padding-left: 136px;
          background: #010a28;
          color: white;
     }
     position: relative;
     .img {
          background: url(../img/umatlogo.png) no-repeat center;
          width: 31px;
          height: 57px;
          background-size: contain;
          position: absolute;
          left: 100px;
          top: 0;
     }
}

section.wrapper {
     padding: 0 100px;
}

form {
     position: relative;
     height: 50px;
     input {
          width: 437px;
          font-family: open sans;
          font-size: 16px;
          color: #626262;
          background: rgb(251, 251, 251);
          border: none;
          border-bottom: 1px solid rgb(225, 225, 225);
          padding: 8px 40px;
          position: absolute;
          left: 0;
          transition: all ease-out 200ms;
          &:focus {
               border-bottom-color: #000d39;
               width: 437px;
               background: white;
               padding-left: 50px;
          }
     }
     i.fa {
          position: absolute;
          left: 12px;
          z-index: 5;
          top: 10px;
          color: #000d39;
          font-size: 20px!important;
     }
     .predictions {
          width: 527px;
          position: relative;
          display: none;
          top: 41px;
          z-index: 10;
          background: white;
          box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .4);
          .item {
               display: block;
               border-bottom: 1px solid rgb(225, 225, 225);
               color: #595959;
               padding: 5px 8px;
               em {
                    float: right;
                    font-size: 12px;
                    border: 1px solid silver;
                    padding: 1px 4px;
                    border-radius: 7px;
                    color: silver;
                    font-weight: 600;
               }
          }
     }
}

.grid {
     margin: 3% 0;
     .grid-item {
          &:first-of-type {
               margin-left: 0;
          }
          &:hover i {
               font-size: 55px;
          }
          display: inline-block;
          cursor: pointer;
          text-decoration: none;
          width: 250px;
          position: relative;
          margin: 0 6px;
          * {
               display: block;
          }
          i {
               height: 150px;
               text-align: center;
               color: white;
               line-height: 150px;
               background: $theme-color;
               font-size: 30px;
               transition: all ease-out 200ms;
          }
          .detail {
               padding: 10px;
               background: white;
               span {
                    font-weight: 600;
                    text-align: center;
                    color: $theme-color;
                    margin: 0 0 10px 0;
               }
               em {
                    font-size: 13px;
                    text-align: center;
                    color: silver;
               }
          }
     }
}

.exit {
     width: 120px;
     padding: 10px;
     border-radius: 23px;
     border: medium none;
     background: rgb(255, 62, 62);
     cursor: pointer;
     font-size: 16px;
     color: white;
     display: block!important;
     position: relative;
     margin: 0 auto;
     transition: all ease-out 300ms;
     text-align: center;
     &:hover {
          background: #ff1c1c;
     }
}

footer {
     background: white;
     border-top: 1px solid #d8d8d8;
     padding: 30px 100px;
     font-size: 13px;
     color: silver;
     margin-top: 2%;
}