/* line 1, ../sass/lone.scss */
iframe {
  width: 100%;
  min-height: 700px;
}

/* line 6, ../sass/lone.scss */
.sub-head {
  text-align: center;
  font-weight: 600;
  color: #747474;
}
/* line 10, ../sass/lone.scss */
.sub-head i {
  display: block;
  margin: 5px 0px 30px;
}

/* line 16, ../sass/lone.scss */
.select {
  background: #010a28;
  padding: 15px;
  border: none;
  display: inline-block;
  text-decoration: none;
  max-width: 300px;
  height: 50px;
  text-align: left;
  cursor: pointer;
  vertical-align: top;
  margin: 4px;
  color: white;
  border-radius: 8px;
  transition: background ease-out 300ms;
  font-size: 16px;
}
/* line 32, ../sass/lone.scss */
.select:hover {
  background: #838383;
}

/* line 38, ../sass/lone.scss */
.image.sponsors {
  width: 100%;
  border-radius: 8px;
}
