/* line 2, ../sass/main.scss */
body {
  font-family: Open Sans;
  margin: 0;
  background: #f2f2f2;
}

/* line 8, ../sass/main.scss */
p.title {
  color: #000d39;
  font-size: 16px;
  font-weight: 600;
  padding: 2% 100px;
  background: #fbfbfb;
  border-bottom: 1px solid #e1e1e1;
  margin: 0 0 20px 0;
}
/* line 16, ../sass/main.scss */
p.title a {
  text-decoration: none;
  color: inherit;
}

/* line 22, ../sass/main.scss */
header {
  position: relative;
}
/* line 23, ../sass/main.scss */
header:first-of-type {
  padding: 17px;
  padding-left: 136px;
  background: #010a28;
  color: white;
}
/* line 30, ../sass/main.scss */
header .img {
  background: url(../img/umatlogo.png) no-repeat center;
  width: 31px;
  height: 57px;
  background-size: contain;
  position: absolute;
  left: 100px;
  top: 0;
}

/* line 41, ../sass/main.scss */
section.wrapper {
  padding: 0 100px;
}

/* line 45, ../sass/main.scss */
form {
  position: relative;
  height: 50px;
}
/* line 48, ../sass/main.scss */
form input {
  width: 437px;
  font-family: open sans;
  font-size: 16px;
  color: #626262;
  background: #fbfbfb;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  padding: 8px 40px;
  position: absolute;
  left: 0;
  transition: all ease-out 200ms;
}
/* line 60, ../sass/main.scss */
form input:focus {
  border-bottom-color: #000d39;
  width: 437px;
  background: white;
  padding-left: 50px;
}
/* line 67, ../sass/main.scss */
form i.fa {
  position: absolute;
  left: 12px;
  z-index: 5;
  top: 10px;
  color: #000d39;
  font-size: 20px !important;
}
/* line 75, ../sass/main.scss */
form .predictions {
  width: 527px;
  position: relative;
  display: none;
  top: 41px;
  z-index: 10;
  background: white;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.4);
}
/* line 83, ../sass/main.scss */
form .predictions .item {
  display: block;
  border-bottom: 1px solid #e1e1e1;
  color: #595959;
  padding: 5px 8px;
}
/* line 88, ../sass/main.scss */
form .predictions .item em {
  float: right;
  font-size: 12px;
  border: 1px solid silver;
  padding: 1px 4px;
  border-radius: 7px;
  color: silver;
  font-weight: 600;
}

/* line 101, ../sass/main.scss */
.grid {
  margin: 3% 0;
}
/* line 103, ../sass/main.scss */
.grid .grid-item {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  width: 250px;
  position: relative;
  margin: 0 6px;
}
/* line 104, ../sass/main.scss */
.grid .grid-item:first-of-type {
  margin-left: 0;
}
/* line 107, ../sass/main.scss */
.grid .grid-item:hover i {
  font-size: 55px;
}
/* line 116, ../sass/main.scss */
.grid .grid-item * {
  display: block;
}
/* line 119, ../sass/main.scss */
.grid .grid-item i {
  height: 150px;
  text-align: center;
  color: white;
  line-height: 150px;
  background: #47a3da;
  font-size: 30px;
  transition: all ease-out 200ms;
}
/* line 128, ../sass/main.scss */
.grid .grid-item .detail {
  padding: 10px;
  background: white;
}
/* line 131, ../sass/main.scss */
.grid .grid-item .detail span {
  font-weight: 600;
  text-align: center;
  color: #47a3da;
  margin: 0 0 10px 0;
}
/* line 137, ../sass/main.scss */
.grid .grid-item .detail em {
  font-size: 13px;
  text-align: center;
  color: silver;
}

/* line 146, ../sass/main.scss */
.exit {
  width: 120px;
  padding: 10px;
  border-radius: 23px;
  border: medium none;
  background: #ff3e3e;
  cursor: pointer;
  font-size: 16px;
  color: white;
  display: block !important;
  position: relative;
  margin: 0 auto;
  transition: all ease-out 300ms;
  text-align: center;
}
/* line 160, ../sass/main.scss */
.exit:hover {
  background: #ff1c1c;
}

/* line 165, ../sass/main.scss */
footer {
  background: white;
  border-top: 1px solid #d8d8d8;
  padding: 30px 100px;
  font-size: 13px;
  color: silver;
  margin-top: 2%;
}
